.search-menu {
  color: var(--font);
  display: flex;
  flex-flow: column-reverse;

  div {
    width: 100%;
  }
  input {
    color: var(--font);
    font-size: 24px;
    height: 36px;
    width: 100%;
    background-color: var(--bg);
    border: 1px solid rgba(black, 0.2);
    border-radius: 8px;
    padding-left: 12px;
  }
  input:focus {
    outline: none;
  }
  .results {
    display: flex;
    flex-flow: column-reverse;

    div {
      height: 50px;

      img {
        height: 30px;
      }
    }
  }
}
