#root,
#app {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

#app {
  --bg: white;
  --font-d: 30;
  --font-d-inv: 240;
  --dark: 0;
  --light: 1;
}

#app.dark {
  --bg: black;
  --font-d: 240;
  --font-d-inv: 30;
  --dark: 1;
  --light: 0;
}

#app {
  --font: rgb(var(--font-d), var(--font-d), var(--font-d));
  --font-inv: rgb(var(--font-d-inv), var(--font-d-inv), var(--font-d-inv));
  --fg: var(--font);
  --font-family: system-ui, -apple-system, Roboto, sans-serif;
}

#app {
  display: grid;
  place-items: center;
  background-color: var(--bg);
  color: var(--font);
  transition: all 0.1s ease-out;
}

#container {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  height: calc(100% - 50px);
  overflow-y: scroll;
  max-width: 600px;
  flex-flow: column;
  font-family: var(--font-family);
  box-sizing: border-box;
  padding: 8px;
}

.navigator {
  position: absolute;
  bottom: 0;
  height: 50px;
}

img {
  height: 70px;
}

button {
  height: 10px;
}
