#root,
#app {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

#app {
  --bg: white;
  --font-d: 30;
  --font-d-inv: 240;
  --dark: 0;
  --light: 1;
}

#app.dark {
  --bg: black;
  --font-d: 240;
  --font-d-inv: 30;
  --dark: 1;
  --light: 0;
}

#app {
  --font: rgb(var(--font-d), var(--font-d), var(--font-d));
  --font-inv: rgb(var(--font-d-inv), var(--font-d-inv), var(--font-d-inv));
  --fg: var(--font);
  --font-family: system-ui, -apple-system, Roboto, sans-serif;
}

.navigator {
  position: absolute;
  bottom: 0;
  height: 50px;
}

img {
  height: 70px;
}

button {
  height: 10px;
}
